/* Colors */
$color-accent: #2196f3;
$color-main: #212121;
$color-secondary: #757575;
$color-white: #ffffff;
$color-dark-bg: #2f303a;
$color-light-bg: #f5f4fa;
$color-border: #ececec;

/* Fonts */
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

