$color-primary: #2196f3;
$color-dark: #212121;
$color-gray: #757575;
$color-white: #ffffff;
$color-bg-dark: #2f303a;
$color-bg-light: #f5f4fa;

$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
