/* Colors */
$color-gray: #757575;
$color-dark: #212121;
$color-light: #ececec;
$color-black: #000;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-bg-dark: #2f302f;
$color-bg-light: #f5f4fa;

/* Fonts */
$font-main: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;

/* Animation */
$duration: 250ms;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
