.hero {
  background-color: $color-dark-bg;
  text-align: center;
  padding: 200px 0;

  &__title {
    color: $color-white;
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  &__button {
    background-color: $color-accent;
    color: $color-white;
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: darken($color-accent, 10%);
    }
  }
}


