.hero {
  padding: 100px 0;
  text-align: center;
  background: $color-bg-dark;
  color: $color-white;

  &__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  &__button {
    @extend %button-reset;
    background: $color-primary;
    color: $color-white;
    padding: 12px 24px;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 44px;
  }
}
