body {
  font-family: $font-main;
  font-size: 16px;
  color: $color-dark;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
