.features {
  padding: 60px 0;

  &__list {
    @extend %list-reset;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (min-width: $bp-768) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    flex: 1 1 calc(50% - 30px);
  }
}

@media (min-width: $bp-1200) {
  .features__item {
    flex: 1 1 calc(25% - 30px);
  }
}
