.footer {
  background-color: $color-dark-bg;
  color: $color-white;
  padding: 60px 0;

  &__logo {
    font-family: $font-logo;
    font-size: 26px;
  }

  &__link {
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      color: $color-accent;
    }
  }
}
