.footer {
  background-color: $color-bg-dark;
  color: $color-white;
  padding: 40px 20px;

  &-logo {
    font-family: $font-logo;
    font-size: 26px;

    &-span {
      color: $color-blue;
    }
  }

  &-address-text {
    margin-bottom: 8px;
    font-style: normal;
  }
}
