/* Colors */
$color-primary: #2196f3;
$color-text-main: #212121;
$color-text-secondary: #757575;
$color-bg-light: #f5f4fa;
$color-bg-dark: #2f302f;
$color-white: #ffffff;
$color-border: #eeeeee;

/* Fonts */
$font-main: "Roboto", sans-serif;
$font-accent: "Raleway", sans-serif;

/* Animation */
$transition-time: 250ms;
$transition-func: cubic-bezier(0.4, 0, 0.2, 1);

